body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #calculator {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.359);
    width: 16%;
  }
  
  input[type="number"],
  select,
  button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  button {
    padding: 10px 20px;
    background-color: #ff1919;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ca0303;
  }
  
  #result {
    margin-top: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid #bfbfbf;
    padding: 12.5px;
    text-align: left;
  }
  
  th {
    background-color: #dedede;
  }
  
  .blue {
    background-color: #9addff;
  }
  
  .green {
    background-color: #b0ffb0;
  }
  
  .orange {
    background-color: #ffd4a7;
  }
  
  .red {
    background-color: #ffafaf;
  }